.brand {
    margin-left: 30px;
    font-size: larger;
    
}
.lolz {
    text-decoration: none;
}

.body {
    
    background-color: bisque;

}

.navbar {
    
    color: teal;
    
}

.navelements {
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    
}


.homepage {
    position: relative;
    top: 50%;
    margin-top: 150px;
    text-align: center;
    
}

.greeting {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
}
.subinfo {
    display: inline-flex;
    top: 50%;
    margin-top: 60px;
    text-align: center;
}
.info {
    border-top: 1px dashed teal;
    border-bottom: 1px dashed teal;
    padding: 5px;
    color: teal;
}